.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    background-color:rgb(247, 250, 246);
    width: 48%;
    float: left;
    margin-left: 1%;
    padding: 2%;
     }
h3{
    color: rgb(0, 0, 0);
    margin-left: 10px;

}



.card1{
    background-color: rgba(198, 255, 184, 0.927);
    width: 100%;
    border-radius: 7px;
    border: 0px solid rgba(0, 0, 0, 0.8);
    margin: 10px;
    height: 42.7vh;  
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card2{
    background-color: rgb(212, 238, 220);
    width: 100%;
    border: 0px solid rgba(0, 0, 0, 0.8);
    margin: 10px 20px;
    height: 42.7vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
    
}
.card3{
    background-color: rgb(212, 238, 220);
    width: 100%;
    border: 0px solid rgba(0, 0, 0, 0.8);
    margin: 10px;
    height: 42.7vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
   
}
.card4{
    background-color: rgb(167, 255, 167);
    width: 100%;
    border-radius: 5px;
    border: 0px solid rgba(0, 0, 0, 0.8);
    margin: 10px 20px;
    height: 42.7vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.main{
    width: 40%;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    
}
.responsive{
    width: 100%;
    height: 91vh;
}
a{
    position: relative;
    left: 10px;
    color: black;
    top: 50px;
}
p{
    padding: 10px;
    height: 40px;
    line-height: 2;
    color: rgb(47, 94, 47);

    
}